/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* VARIABLES */
:root {
  --primary-color: #fb6a27;
  --dark-color: #0f0f0f;
  --gray-color: gray;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --small-font-size: 14px;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* GLOBAL CSS */
section {
  padding: 70px 0;
}

section .section-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-transform: uppercase;
}

.btn-orange {
  background-color: var(--primary-color);
  color: white;
}

.text-orange {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.fs-7 {
  font-size: var(--small-font-size);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}
/* CSS PER SECTION */

/* NAVBAR */
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--primary-color);
}

/* Header */
.header-section .header-title {
  font-size: var(--h1-font-size);
}

.header-section .header-skill {
  color: var(--dark-color);
}

.header-section .header-skill:hover {
  color: var(--primary-color);
}

.header-section .header-skill i {
  transition: 0.3s;
}

.header-section .header-skill:hover i {
  transform: rotate(-45deg);
}

.header-section .header-img {
  width: 90%;
}

/* Custom */
.feedback-section {
  background: #e0dddde6;
}

footer {
  background-color: #0f0f0f;
}
/* feedback */
.feedback-section .card .card-img-top {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .feedback-section .card .card-img-top {
    height: 100px;
  }
}
